In [2]:
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [4]:
mySet = set(['a', 'b', "c"])
mySet

{'a', 'b', 'c'}

In [5]:
mySet = set(('a', 'b', 'c'))
mySet

{'a', 'b', 'c'}

In [6]:
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

['c', 'a', 'b']

In [7]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [8]:
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\jonat\AppData\Local\Temp\ipykernel_2096\2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
C:\Users\jonat\AppData\Local\Temp\ipykernel_2096\2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
C:\Users\jonat\AppData\Local\Temp\ipykernel_2096\2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [11]:
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [12]:
'a' in mySet

True

In [13]:
'z' in mySet

False

In [14]:
len(mySet)

4

In [15]:
while len(mySet):
    print(mySet.pop())

d
c
a
b

In [16]:
mySet.discard('a')

In [17]:
mySet

set()

In [18]:
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [20]:
mySet.discard('a')
mySet

{'b', 'c'}

In [21]:
myTuple = ('a', 'b', 'c')
myTuple

('a', 'b', 'c')

In [22]:
myTuple[0]

'a'

In [23]:
myTuple[1]

'b'

In [24]:
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [26]:
def returnsMultipleValues():
    return (1,2,3)

type(returnsMultipleValues())

tuple

In [27]:
myTuple = (1,2,3)

In [28]:
type(myTuple)

tuple

In [29]:
a, b, c = returnsMultipleValues()

In [30]:
print(a)

1

In [31]:
print(a, b, c)

1 2 3